# Client
VITE_REDIRECT_URL="http://localhost:5001/v1/auth/verify"
VITE_BASE_URL="http://localhost:5001"

# Google
VITE_GOOGLE_CLIENT_ID=

# Sentry
VITE_SENTRY_DSN_KEY=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
