.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  place-items: center;
}

.content {
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: 0;
  color: rgb(60, 64, 67);
  text-align: center;
}

.spacer {
  margin: 1.75rem;
}
