{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "keepClassNames": true,
    "baseUrl": ".",
    "paths": {
      "@modules/*": ["src/modules/*"],
      "@handlers/*": ["src/handlers/*"],
      "@configs/*": ["src/configs/*"],
      "@shared/*": ["src/shared/*"],
      "@db/*": ["prisma/*"],
      "@utils/*": ["src/utils/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false
  },
  "exclude": ["src/**/*.test.ts"]
}
