{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "keepClassNames": true,
    "baseUrl": "./src",
    "paths": {
      "@modules/*": ["./modules/*"],
      "@configs/*": ["./configs/*"],
      "@shared/*": ["./shared/*"],
      "@db/*": ["../prisma/*"],
      "@utils/*": ["./utils/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false
  },
  "exclude": ["src/**/*.test.ts"],
  "sourceMaps": true
}
