# MongoDB
# MONGODB_DATABASE_URL=mongodb://<MONGODB_USERNAME>:<MONGODB_PASSWORD>@127.0.0.1:27017/<MONGODB_DB_NAME>

# MySQL
MYSQL_DATABASE_URL=mysql://<MYSQL_USERNAME>:<MYSQL_PASSWORD>@localhost:3306/<MYSQL_DB_NAME>

# Google
GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>

# Redis
REDIS_HOST=localhost

# AWS
NODE_ENV=development

# Server
ALLOWED_ORIGIN=http://localhost:5173
