# MongoDB
MONGO_INITDB_DATABASE=goom
MONGO_INITDB_ROOT_USERNAME=goom_dev
MONGO_INITDB_ROOT_PASSWORD=goom_dev
MONGODB_DATABASE_URL=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@127.0.0.1:27017/${MONGO_INITDB_DATABASE}

# MySQL
MYSQL_DATABASE=goom
MYSQL_ROOT_USER=goom_dev
MYSQL_ROOT_PASSWORD=goom_dev
MYSQL_DATABASE_URL=mysql://${MYSQL_ROOT_USER}:${MYSQL_ROOT_PASSWORD}@localhost:3306/${MYSQL_DATABASE}

# Google
GOOGLE_CLIENT_ID=

# Redis
REDIS_HOST=redis
