# MongoDB
MONGO_INITDB_DATABASE=zigoom
MONGO_INITDB_ROOT_USERNAME=zigoom_dev
MONGO_INITDB_ROOT_PASSWORD=zigoom_dev
MONGODB_DATABASE_URL=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@127.0.0.1:27017/${MONGO_INITDB_DATABASE}

# MySQL
MYSQL_DATABASE=zigoom
MYSQL_ROOT_USER=zigoom_dev
MYSQL_ROOT_PASSWORD=zigoom_dev
MYSQL_DATABASE_URL=mysql://${MYSQL_ROOT_USER}:${MYSQL_ROOT_PASSWORD}@localhost:3306/${MYSQL_DATABASE}

# Google
GOOGLE_CLIENT_ID=

# Redis
REDIS_HOST=redis
