.container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100vw;
  height: 5rem;
  background-color: rgb(32, 33, 36);
  margin-bottom: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.roomId {
  text-align: start;
  width: 33.33%;
  color: #fff;
  padding-left: 1rem;
}

.controlButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  display: flex;
}

.hostOptionButtons {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 33.33%;
  display: flex;
  padding-right: 1rem;
}
