.container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.termsOfUse,
.privacy {
  color: #aaa;
  cursor: pointer;
  text-decoration: none;
}

.termsOfUse:hover,
.privacy:hover {
  color: #ccc;
}
