.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.active:hover #options {
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  opacity: 1;
  transition-delay: 0.1s;
}

.single {
  background-color: #000;
}

.multiple {
  background-color: rgb(60, 64, 67);
}

.localVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.singleVideo {
  object-fit: contain;
}

.multipleVideo {
  object-fit: cover;
}

.altImage {
  width: 20vh;
  min-width: 60px;
  height: 20vh;
  border-radius: 20vh;
}

.peerId {
  position: absolute;
  border-radius: 8px;
  color: #fff;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  padding: 4px 12px;
}

.options {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  justify-content: center;
  align-items: center;
}

.optionHover {
  display: flex;
}

.optionDefault {
  display: none;
}

.iconContainer {
  display: flex;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.33);
  cursor: pointer;
}

.iconContainer:hover {
  -webkit-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
  background-color: rgba(0, 0, 0, 0.6);
}

.iconContainer:hover #icon {
  opacity: 1;
}

.icon {
  padding: 0.5rem;
  border-radius: 30px;
  align-items: center;
  opacity: 0.5;
}

.icon:hover {
  background-color: rgb(255, 255, 255, 0.1);
}
