.button {
  padding: 1rem;
  border: none;
  border-radius: 6px;
  color: rgb(26, 115, 232);
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: #f6fafe;
}
