.container {
  margin-right: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  width: 30px;
  cursor: pointer;
}

.label span {
  background-color: #606060;
  height: 2px;
  margin: 2px 0;
  transition: 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 90%;
}

span:nth-of-type(2) {
  width: 90%;
}

span:nth-of-type(3) {
  width: 90%;
}

.label:hover span:nth-of-type(1) {
  width: 100%;
}

.label:hover span:nth-of-type(2) {
  width: 75%;
}

.label:hover span:nth-of-type(3) {
  width: 50%;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:checked ~ span:nth-of-type(1) {
  width: 90%;
  transform-origin: bottom;
  transform: rotatez(45deg) translate(4px, 7px);
}

input[type='checkbox']:checked ~ span:nth-of-type(2) {
  width: 50%;
  transform-origin: top;
  transform: rotatez(-45deg) translate(8px, 4px);
}

input[type='checkbox']:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: rotatez(-45deg) translate(0px, 0px);
}

input[type='checkbox']:checked ~ .menu {
  display: block;
}

.menu {
  display: none;
  top: 60px;
  left: 0;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #fff;
  z-index: 1;
}
