.button {
  padding: 1rem;
  border: 1px solid #dadce0;
  border-radius: 4px;
  background-color: #f1f3f4;
  cursor: pointer;
  transition: box-shadow 0.16s;
  box-shadow: none;
}

.button:hover {
  background-color: #e8eaed;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.iconContainer {
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}

.buttonText {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}
